SMTP_HOST=mail.nuvolahost.com.br
SMTP_PORT=465
SMTP_USERNAME=seu-email@nuvolahost.com.br
SMTP_PASSWORD=sua-senha
SMTP_FROM_EMAIL=seu-email@nuvolahost.com.br
SMTP_FROM_NAME=Site Gaucha TecPar
SMTP_TO_EMAIL=ri@gauchatecpar.com.br
SMTP_TO_NAME=Gaucha TecPar
